@font-face {
  font-family: "Kenny-pixel-square";
  src: url("/font/kenney-pixel-square.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --white: #ffffff;
  --background: #0000006f;
  --light-blue: #77f2f2;
  --blue: #80dde2;
  --deep-blue: #2c87be;
  --hover-blue: rgba(132, 221, 241, 0.4);
  --hover-black: rgba(0, 0, 0, 0.4);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Kenny-pixel-square";
}

.stack > * + * {
  margin-block-start: 0.1rem;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 1em;
}

.content-container .heading {
  flex: 1;
  display: flex;
  align-items: center;
  color: var(--light-blue);
  text-shadow: 3px 3px var(--background);
}

/* Default styling for larger screens (e.g., desktop) */
.heading h1 {
  font-size: 6vw; /* 6% of the viewport width */
  text-align: center; /* Centers the text */
  margin: 0; /* Removes default margin */
  padding: 0;
}

/* Tablet sizes */
@media (max-width: 768px) {
  .heading h1 {
    font-size: 8vw; /* Adjust for tablets */
  }
}

/* Mobile sizes */
@media (max-width: 480px) {
  .heading h1 {
    font-size: 12vw; /* Adjust for mobile devices */
  }
}

.empty {
  height: 5em;
}

.content-container .main {
  /* font-size: 1.1rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.mc {
  padding: 0.3em 0.5em;
  border-radius: 5px;
  letter-spacing: 4px;
  background-color: var(--white);
  color: var(--deep-blue);
}

.ca {
  display: inline-block;
  max-width: 20em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  padding: 0.3em 0.5em;
  border-radius: 5px;
  letter-spacing: 4px;
  background-color: var(--white);
  color: var(--deep-blue);
}

.dex-link {
  flex: 1;
  cursor: pointer;
  padding: 0.3em 0.5em;
  border-radius: 5px;
  letter-spacing: 4px;
  background-color: var(--white);
  color: var(--deep-blue);
}

a {
  color: inherit;
  text-decoration: none;
}

.highlight:hover {
  color: var(--white) !important;
  background-color: var(--deep-blue) !important;
}
.content-container .footer {
  font-size: 0.5rem;
  flex: 1;
  display: flex;
  align-items: center;
}

.footer h2 {
  padding: 0.3em 0.5em;
  border-radius: 3px;
  background-color: var(--white);
  color: var(--deep-blue);
}

.footer-link-container {
  display: flex;
  direction: inline-start;
  justify-content: space-between;
  max-inline-size: 30em;
  margin-inline: auto;
  gap: 0.5em;
  padding: 1em;
}

.social-button {
  border: none;
  padding: 0.7em 2.1em;
  border-radius: 3px;
  display: block;
  text-align: center;
  background-color: var(--deep-blue);
  margin-block-start: 1em;
  transition: background-color 0.3s ease;
}

.social-button:hover {
  background-color: var(--blue);
  cursor: pointer;
}

.social-button img {
  width: 1em;
  height: 1em;
  border-radius: 5px;
}

.mc,
.ca,
.dex-link {
  font-size: 1.3vw; /* 5% of viewport width */
}

/* Tablet sizes */
@media (max-width: 768px) {
  .mc,
  .ca,
  .dex-link {
    font-size: 2vw; /* Adjust for tablets */
  }
}

/* Mobile sizes */
@media (max-width: 480px) {
  .mc,
  .ca,
  .dex-link {
    font-size: 3vw; /* Adjust for mobile devices */
  }
}
